<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}

    {% endblock head %}
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
        RESTful TV Shows
        {% endblock title %}
    </title>
</head>

<body>
    <header>
        <a href="/shows"><img src="{% static 'img/tv.png' %}" alt="tv"></a>TV Shows!
    </header>
    {% block content %}






    {% endblock content %}

</body>

</html>