{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock head %}

{% block title %}
{{ block.super }} - Edit Show Info
{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1>Edit Show {{ show.id }} </h1>
            <form class="form-group mb-2" action="/shows/{{ show.id }}/update" method="post">
                {% csrf_token %}
                <label class="font-weight-bold" for="title">Title</label>
                <input class="form-control font-italic" type=" text" name="title" value="{{ show.title }}">
                <label class="font-weight-bold" for="network">Network</label>
                <input class="form-control font-italic" type="text" name="network" value="{{ show.network }}">
                <label class="font-weight-bold" for="date">Release Date</label>
                <input class="form-control font-italic" type="date" name="date" value="{{ show.date }}">
                <label class="font-weight-bold" for="desc">Description</label>
                <textarea class="form-control font-italic" name="desc" rows="5" value="{{ show.desc }}"></textarea>
                <button type="submit" class="btn btn-primary btn-md mt-2">Update Show</button>
            </form>
            <a href="/shows/{{ show.id }}">Go to Show</a>
        </div>
    </div>
</div>


{% endblock content %}