{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock head %}

{% block title %}
{{ block.super }} - Create New Show
{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-3">
            <h1>Add a New Show</h1>
            <form class="form-group" action="/shows/create" method="post">
                {% csrf_token %}
                <label for="title">Title</label>
                <input class="form-control" type="text" name="title">
                <label for="network">Network</label>
                <input class="form-control" type="text" name="network">
                <label for="date">Release Date</label>
                <input class="form-control" type="date" name="date">
                <label for="desc">Description</label>
                <textarea class="form-control mb-2" name="desc" rows="5"></textarea>
                <button type="submit" class="btn btn-primary btn-md">Create Show</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}