<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>
        THE WALL - Register/Login Page
    </title>
</head>

<body>
    <!-- header row -->
    <header>
        <div class="container-fluid">
            <div class="row justify-content-between bg-white pl-3 pb-2 pt-2">
                <a href="/hello" class="text-decoration-none">
                    <div class="col display-4 text-primary bg-white font-weight-normal">
                        THE WALL
                    </div>
                </a>
            </div>
        </div>
    </header>
    <!-- register/login form section -->
    <div class="container">
        <div class="row justify-content-around bg-light border border-col mt-2 pb-3 pt-3">
            <!-- register form -->
            <div class="col border-right">
                <h1>REGISTER</h1>
                <form method="POST" action="/hello/create" class="form-group border-top">
                    {% csrf_token %}
                    <div class="form-group is-valid">
                        <label for=" first_name" class="pt-2">First Name</label>
                        <input type="text" class="form-control" name="first_name">
                    </div>
                    <div class="form-group is-valid">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" name="last_name">
                    </div>
                    <div class="form-group is-valid">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group is-valid">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="form-group is-valid">
                        <label for="conf_password">Confirm Password</label>
                        <input type="password" class="form-control" name="conf_password">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <!-- logic form -->
            <div class="col">
                <h1>LOGIN</h1>
                <form method="POST" action="/hello/login" class="border-top">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email" class="pt-2">Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                {% if messages %}
                <ul class="messages error pl-3 pt-2">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

</body>

</html>