@import url('https://fonts.googleapis.com/css2?family=Syne&family=Fredoka+One&display=swap');


* {
padding: 0;
margin: 0;
box-sizing: border-box;
/* border: 1px dashed pink; */
}

.display-4 {
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    font-size: 2em;

}

html body {
    background-color: rgb(66, 62, 62);
    font-family: 'Syne', sans-serif;
}

.col-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.border-col {
    border-width: 2px !important;
    border-color: #007bff !important;
    border-radius: 15px;
}

label {
    font-weight: 600;
    color:  #6c757d !important;
}

h1 {
    color: #007bff;
}

button.btn.btn-primary {
    font-weight: bold;
}

.error {
    color: red;
    font-size: 1em;
}

.success {
    font-style: italic;
    color: rgb(45, 177, 45);
    font-weight: bold;
}